.footer {
  background-color: #e6e6e6;
}

.footer > * {
  margin: 10px;
}

.footerDesktop {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .footer > * {
    padding: 40px 0;
  }
}
